In [22]:
import pandas as pd
import numpy as np

In [11]:
list1=['a','b','c','d']
list2=[4,5,6,7]
dict1={'a':'e','b':'f','c':'g','d':'h'}

In [3]:
type(list1)

list

In [5]:
s=pd.Series(list1)

In [6]:
type(s)

pandas.core.series.Series

In [7]:
s

0    a
1    b
2    c
3    d
dtype: object

In [13]:
s=pd.Series(list1,list2)

In [14]:
s

4    a
5    b
6    c
7    d
dtype: object

In [15]:
s[0]

KeyError: 0

In [16]:
s[4]

'a'

In [18]:
s['a']

KeyError: 'a'

In [19]:
s[5]

'b'

In [20]:
s=pd.Series(dict1)

In [21]:
s

a    e
b    f
c    g
d    h
dtype: object

In [23]:
df=pd.DataFrame(np.arange(16).reshape(4,4),['a','b','c','d'],['e','f','g','h'])

In [24]:
df

    e   f   g   h
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [25]:
df['e']

a     0
b     4
c     8
d    12
Name: e, dtype: int32

In [26]:
df['a']

KeyError: 'a'

In [27]:
df.iloc[0]

e    0
f    1
g    2
h    3
Name: a, dtype: int32

In [28]:
df.loc['a']

e    0
f    1
g    2
h    3
Name: a, dtype: int32

In [29]:
df.iloc[0:2,0:2]

   e  f
a  0  1
b  4  5

In [30]:
df.loc['a','b']

KeyError: 'b'

In [31]:
df.head()

    e   f   g   h
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [33]:
df.head(2)

   e  f  g  h
a  0  1  2  3
b  4  5  6  7

In [34]:
df.isnull()

       e      f      g      h
a  False  False  False  False
b  False  False  False  False
c  False  False  False  False
d  False  False  False  False

In [35]:
df.isnull().any

<bound method DataFrame.any of        e      f      g      h
a  False  False  False  False
b  False  False  False  False
c  False  False  False  False
d  False  False  False  False>

In [36]:
df.isnull().sum()

e    0
f    0
g    0
h    0
dtype: int64

In [47]:
df=pd.DataFrame(np.array([[1,np.nan,2,3],[3,np.nan,4,2],[4,2,np.nan,1]]))

In [48]:
df

     0    1    2    3
0  1.0  NaN  2.0  3.0
1  3.0  NaN  4.0  2.0
2  4.0  2.0  NaN  1.0

In [49]:
df.isnull().any

<bound method DataFrame.any of        0      1      2      3
0  False   True  False  False
1  False   True  False  False
2  False  False   True  False>

In [50]:
df.isnull().sum()

0    0
1    2
2    1
3    0
dtype: int64

In [51]:
df.drop[]

TypeError: 'method' object is not subscriptable

In [52]:
df=pd.DataFrame(np.arange(16).reshape(4,4),['a','b','c','d'],['e','f','g','h'])

In [53]:
df

    e   f   g   h
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [64]:
df.drop(['f'],axis=1,inplace=True)

In [65]:
df

    e   g   h
a   0   2   3
b   4   6   7
c   8  10  11
d  12  14  15

In [67]:
lf=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [68]:
lf

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [69]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])

In [70]:
df

   a  b
0  1  2
1  3  4

In [71]:
df.drop(['a'],axis=1,inplace=True)

In [72]:
df

   b
0  2
1  4

In [73]:
df.drop(0)

   b
1  4

In [74]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])

In [75]:
df

   a  b
0  1  2
1  3  4

In [76]:
df.drop(0)

   a  b
1  3  4

In [78]:
df.drop(1)

   a  b
0  1  2

In [79]:
df=pd.DataFrame([[1,np.nan,2,3],[3,np.nan,4,2],[4,2,np.nan,1]])

In [80]:
df

   0    1    2  3
0  1  NaN  2.0  3
1  3  NaN  4.0  2
2  4  2.0  NaN  1

In [81]:
df.isnull().sum()

0    0
1    2
2    1
3    0
dtype: int64

In [82]:
df=pd.DataFrame(np.arange(16).reshape(4,4),['a','b','c','d'],['e','f','g','h'])

In [83]:
df

    e   f   g   h
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [84]:
df=pd.DataFrame([[1,np.nan,2,3],[3,np.nan,4,2],[4,2,np.nan,1]])

In [85]:
df

   0    1    2  3
0  1  NaN  2.0  3
1  3  NaN  4.0  2
2  4  2.0  NaN  1

In [90]:
df=pd.DataFrame([[1,np.nan,2,3],[2,3,4,np.nan],[3,4,np.nan,2]],columns=['a','b','c','d'])

In [91]:
df

   a    b    c    d
0  1  NaN  2.0  3.0
1  2  3.0  4.0  NaN
2  3  4.0  NaN  2.0

In [92]:
df['b'].fillna(df['b'].mean(),inplace=True)

In [93]:
df

   a    b    c    d
0  1  3.5  2.0  3.0
1  2  3.0  4.0  NaN
2  3  4.0  NaN  2.0

In [94]:
df['c'].fillna(df['c'].mean(),inplace=True)

In [95]:
df

   a    b    c    d
0  1  3.5  2.0  3.0
1  2  3.0  4.0  NaN
2  3  4.0  3.0  2.0

In [96]:
df['d'].fillna(df['d'].median(),inplace=True)

In [97]:
df

   a    b    c    d
0  1  3.5  2.0  3.0
1  2  3.0  4.0  2.5
2  3  4.0  3.0  2.0

In [98]:
type(df)

pandas.core.frame.DataFrame

In [99]:
df=pd.DataFrame([[1,np.nan,2,3],[2,np.nan,4,np.nan],[3,4,np.nan,2]],columns=['a','b','c','d'])

In [100]:
df

   a    b    c    d
0  1  NaN  2.0  3.0
1  2  NaN  4.0  NaN
2  3  4.0  NaN  2.0

In [101]:
df['b'].fillna(df['b'].mean(),inplace=True)

In [102]:
df

   a    b    c    d
0  1  4.0  2.0  3.0
1  2  4.0  4.0  NaN
2  3  4.0  NaN  2.0